 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/header') %>
    <main class="container">
    <% if (user) { %>
        <div class="icon-div"><a href="/new-message" class="plus-icon"></a></div>
    <% } %>

 

    <div class="grid-messages">
        <% messages.forEach(message => { %>
            <a href="/message/<%= message.id %>" class="message-link">
                <div class="message-card">
                    <strong  class="message-title"><%= message.title %></strong> 
                    

                    <% if (user && user.member) { %>
                        <span class="message-author">
                            <%= message.gmail %>
                        </span>
                        <% } else { %>
                        <span class="message-author">Anonymous</span>
                    <% } %>

                    <span class="message-text"><%= message.text %></span>

                    </div>
            </a>

        <% }) %>

    </div>

    </main>
</body>
</html>