 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/header') %>
    <main class="container-profile">
 
  <% if (user) { %>
    <div class="profile-title">
      <h1><%= user.first_name %> <%= user.last_name %></h1>
      <p><strong>Email:</strong> <%= user.gmail %></p>
      <p>
        <strong>Status:</strong>
        <%= user.member ? "Member" : "Regular user" %>
      </p>
    </div>

    

    <div class="messages-container-profile">
      <h2>Your messages</h2>
      <% if (messages.length === 0) { %>
        <p>You haven't posted any messages yet.</p>
      <% } %>

      <% messages.forEach(message => { %>
        <a href="/message/<%= message.id %>" class="message-link">
        <div class="message-card">
          <strong class="message-title"><%= message.title %></strong>
          <span class="message-author"><%= message.gmail %></span>
          <span class="message-text"><%= message.text %></span>
          
        </div>
        </a>
      <% }) %>
    </div>

  <% } %>
    </main>
</body>
</html>