 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/header') %>
    <main class="container">

    <div class="message-container" onclick="">
            
                <div class="message-card-single">
                    <strong  class="message-title-single"><%= message.title %></strong> 
                    

                    <% if (user && user.member) { %>
                        <span class="message-author-single">
                            <%= message.gmail %>
                        </span>
                        <% } else { %>
                        <span class="message-author-single">Anonymous</span>
                    <% } %>

                    <span class="message-text-single"><%= message.text %></span>

                    <% if (user && user.admin) { %>
                        <div>
                            <form action="/message/<%= message.id %>/delete" method="POST" class="delete-form">
                            <button class="delete-icon" type="submit" onclick="return confirm('¿Delete this message?')"></button>
                            </form>
                        </div>
                    <% } %>
                    </div>
        

   

    </div>

    </main>
</body>
</html>